<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoppingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".FourthActivity_3C_4th_one"
            android:exported="true" />
        <activity
            android:name=".ThirdActivity_3C_one"
            android:exported="true" />
        <activity
            android:name=".Food_Japan_Snack"
            android:exported="false" />
        <activity
            android:name=".Food_Korea"
            android:exported="false" />
        <activity
            android:name=".Food_Japan_Chocolate"
            android:exported="false" />
        <activity
            android:name=".Food_Japan"
            android:exported="false" />
        <activity
            android:name=".Food_America_Godiva"
            android:exported="false" />
        <activity
            android:name=".Food_America"
            android:exported="false" />
        <activity
            android:name=".Food_Second"
            android:exported="false" />
        <activity
            android:name=".electicity.Food_Second"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <activity
            android:name=".SecondActivity_3C"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".chat.ChatApp"
            android:exported="true" />
        <activity
            android:name=".Stationery4"
            android:exported="true" />
        <activity
            android:name=".Stationery3"
            android:exported="true" />
        <activity
            android:name=".Stationery2"
            android:exported="true" />
        <activity
            android:name=".Stationery1"
            android:exported="true" />
        <activity
            android:name=".ShortSleeve4"
            android:exported="true" />
        <activity
            android:name=".ShortSleeve3"
            android:exported="true" />
        <activity
            android:name=".ShortSleeve2"
            android:exported="true" />
        <activity
            android:name=".ShortSleeve1"
            android:exported="true" />
        <activity
            android:name=".pants4"
            android:exported="true" />
        <activity
            android:name=".pants3"
            android:exported="true" />
        <activity
            android:name=".pants2"
            android:exported="true" />
        <activity
            android:name=".pants1"
            android:exported="true" />
        <activity
            android:name=".LongSleeve4"
            android:exported="true" />
        <activity
            android:name=".LongSleeve3"
            android:exported="true" />
        <activity
            android:name=".LongSleeve2"
            android:exported="true" />
        <activity
            android:name=".LongSleeve1"
            android:exported="true" />
        <activity
            android:name=".Houseware4"
            android:exported="true" />
        <activity
            android:name=".Houseware3"
            android:exported="true" />
        <activity
            android:name=".Houseware2"
            android:exported="true" />
        <activity
            android:name=".Houseware1"
            android:exported="true" />
        <activity
            android:name=".Comestic4"
            android:exported="true" />
        <activity
            android:name=".Comestic3"
            android:exported="true" />
        <activity
            android:name=".Comestic2"
            android:exported="true" />
        <activity
            android:name=".Comestic1"
            android:exported="true" />
        <activity
            android:name=".Bag4"
            android:exported="true" />
        <activity
            android:name=".Bag3"
            android:exported="true" />
        <activity
            android:name=".Bag2"
            android:exported="true" />
        <activity
            android:name=".Coat4"
            android:exported="true" />
        <activity
            android:name=".Coat3"
            android:exported="true" />
        <activity
            android:name=".Coat2"
            android:exported="true" />
        <activity
            android:name=".Coat1"
            android:exported="true" />
        <activity
            android:name=".SecondDaily"
            android:exported="true" />
        <activity
            android:name=".Stationery"
            android:exported="true" />
        <activity
            android:name=".Houseware"
            android:exported="true" />
        <activity
            android:name=".Cosmetic"
            android:exported="true" />
        <activity
            android:name=".Bag"
            android:exported="true" />
        <activity
            android:name=".pants"
            android:exported="true" />
        <activity
            android:name=".Coat"
            android:exported="true" />
        <activity
            android:name=".ShortSleeve"
            android:exported="true" />
        <activity
            android:name=".LongSleeve"
            android:exported="true" />
        <activity
            android:name=".FourthActivity_Cloth_one"
            android:exported="true" />
        <activity
            android:name=".SecondActivity_Cloth"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>